-- Supabase Schema for Construction AI Agent

CREATE TABLE IF NOT EXISTS leads (
    id SERIAL PRIMARY KEY,
    session_id TEXT,
    name TEXT,
    phone TEXT,
    email TEXT,
    project_type TEXT,
    budget TEXT,
    location TEXT,
    timeline TEXT,
    score INTEGER DEFAULT 0,
    priority TEXT DEFAULT 'low',
    quality TEXT DEFAULT 'unqualified',
    is_emergency BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS conversations (
    id SERIAL PRIMARY KEY,
    session_id TEXT,
    role TEXT,
    content TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS appointments (
    id SERIAL PRIMARY KEY,
    session_id TEXT,
    name TEXT,
    phone TEXT,
    requested_time TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS handoffs (
    id SERIAL PRIMARY KEY,
    session_id TEXT,
    reason TEXT,
    priority TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS time_slots (
    id SERIAL PRIMARY KEY,
    slot_date DATE,
    slot_time TIME,
    is_booked BOOLEAN DEFAULT FALSE,
    booked_by TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW()
);